/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.swp
*.jar
*.class
/.lein-*
/.nrepl-port
/src/clojure/footester.clj
/src/clojure/sandbox.clj
/src/examples
/src/java-src-zip
/src/java/com/Baz/Foo.java
